/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}


/* Element Selectors */
body {
  position: relative;
  font-family: "TT Drugs";
  font-size: 20px;
  background-color: black;
  color: white;
}

/* Style Selectors */
h1,
h2 {
  margin: 20px;
  margin-bottom: -5%;
}

main {
  padding: 60px 0;
  margin-top: 3%;
  border-top: 12px solid rgba(55, 54, 54, 0.807);
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #a19a96;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: black;
}

header {
  position: fixed;
  border-bottom: 12px solid rgba(55, 54, 54, 0.807);
}



footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid rgba(55, 54, 54, 0.807);
  color: #FDF8F5;
}



section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  background-color: black;
}



/* Class Selectors */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* About me section */
.float-right {
  margin-right: 8%;
  padding: 20px;
  clear: both;
  float: right;
  max-width: 35%;
  height: 40%;
  z-index: 99;
  text-align: justify;
  margin-top: 3%;
}

#boss-lady {
  font-size: 100px;
  font-family: "Dream Avenue";
  text-align: center;
  text-decoration: double;
}

#about {
  font-size: 46px;
  margin-bottom: -45px;
}

.about-me {
  margin-top: 10%;
}

/* Main pictures styles factor */
#image-container {
  background-image: url("../images/image1.jpg");
  min-height: 624px;
  max-height: 624px;
  max-width: 37%;

  background-size: cover;
}

/* Images style factors */
#image-container img {
  position: relative;
  top: 115px;
  left: 30vw;
  min-height: 428px;
  max-height: 428px;
}

#portfolio {
  font-size: 46px;
  font-family: "TT Drugs";
  margin-top: -5%;
  margin-bottom: 2%;
}

#project1 {
  margin: 5px 10vw;
  margin-bottom: 3%;
  min-height: 450px;
  max-height: 450px;
  border: 2px solid rgba(88, 85, 85, 0.022);
  transition: all 0.5s
}


/* Project 1 hovering button */
#project1:hover {
  border: 15px rgba(181, 181, 222, 0.032) solid;
  opacity: 0.8;
}

/* Flexbox */
.flex-parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-parent h6 {
  display: flex;
  margin-top: -20px;
  padding: 19px;
  background-color: #9e9e9e;
}


.flex-parent:first-child h6 {
  background-color: black;
  border: 3px blue solid;
  color: red;
}

.flex-parent div {
  margin: 0px 7%;
}

.flex-subparent img {
  height: 240px;
  width: 20vw;
  border: 3px solid white;
  align-items: stretch;
  justify-content: space-between;

}

/* Contact section */
.contact-me {
  font-size: 30px;
  font-family: "TT Drugs";
}

Small screen  and desktop features
 @media screen and (min-width: 768px) {

  #image-container {
    display: none
  }
  .flex-subparent{
    display: flex;
    flex-direction: column;
  }

  .flex-parent{
    display: flex;
    flex-direction: column;
  }
header{
  background-color: #FDF8F5;
}
  }
   